.container{
  height: 100%;
  margin: 3rem;
}
.title{
  font-weight: 900;
}
.cards{
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 1300px) {
  .container {
    margin: 1rem;
  }
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
  }
}